---
import BaseLayout from "@/layouts/BaseLayout.astro";
import type { PokemonResults } from "./Pokemon";

const res = await fetch("https://pokeapi.co/api/v2/pokemon?limit=100");
const data: PokemonResults = await res.json();
---

<BaseLayout title="Pokemons">
  <ul role="list">
    {
      data.results.map((p) => (
        <li>
          <a href={`/pokemon/${p.name}`}>{p.name}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
