/* @import "tailwindcss"; */
@import "open-props/style";
@import "open-props/normalize";

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
}

nav,
footer {
  display: flex;
  gap: var(--size-4);
  justify-content: center;
  padding: var(--size-4);
  background-color: var(--surface-2);
  width: 100%;
}

main {
  padding: var(--size-4);
}
