---
import BaseLayout from "@/layouts/BaseLayout.astro";

import { Content as PromoBanner } from "@/components/PromoBanner.md";
import { getCollection } from "astro:content";

const teamData = await getCollection("team");
---

<BaseLayout title="Home">
  <h1>Homepage</h1>
  {
    teamData.map((t) => (
      <p>
        {t.id}. {t.data.name}
      </p>
    ))
  }
  <PromoBanner />
</BaseLayout>
